<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-bold text-info" href="/">My Portfolio</a>

    <!-- Mobile Menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About Me</a></li>
        <li class="nav-item"><a class="nav-link" href="/education">Education</a></li>
        <li class="nav-item"><a class="nav-link" href="/internships">Internships</a></li>
        <li class="nav-item"><a class="nav-link" href="/skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/certifications-achievements">certifications-achievements</a></li>
        <li class="nav-item"><a class="nav-link" href="/resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
